<div class="hstack gap-2">
  <div class="p-2" aria-disabled="false" >
        <div class="p-3 m-1 border-1 bd-example">
 <form class="row g-2 needs-validation needs-feedback" novalidate id="userTest1">
  <div id="liveAlertPlaceholder1"></div>

  <div class="col-mb-3">
    <label for="validationDefault01" class="form-label">Username</label>
    <input type="text" class="form-control" id="validUsername1"  required onchange="document.getElementById('secondUsername1').value = this.value;">
    
    <div class="invalid-feedback">
      Please enter a Username.
    </div>
    
  </div>
  <div class="col-mb-3">
    <label for="validationDefault02" class="form-label">Password</label>
    <input type="password" class="form-control" id="validPassword1" required>
    
     <div class="invalid-feedback">
      Please enter a Password.
    </div>
  </div>
  
   <button class="btn btn-primary" type="submit">Check form   <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg> </button>
</form>
  </div>
  </div>
  
  <div class="vr"></div>
  
   <div class="p-2">
  <div class="p-3 m-1 border-1 bd-example" aria-disabled="true">
    <form  action="/renamePassword" method="post" class="row g-2 needs-validation disabled" novalidate id="userPet1">
      <div id="alertPlaceholder1"></div>

 <div class="input-group mb-3" >
  <input type="hidden" name="username" id="secondUsername1">

      <div class="input-group-text">
        <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input" id="checked" required onclick="document.getElementById('text1').dissabled = document.getElementById('checked').checked ? false : true">
      </div>
      
      <input type="text" class="form-control" aria-label="Text input with checkbox" required id="text1" name="new_password">
    </div>
    
    
   <button class="btn btn-primary" type="submit">Check form   <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg> </button>
</form>


  </div>
  </div>
  
  </div>




  <script src="../files/js/password.js" type="module"></script>
