
svg {
	width: 100px;
	height: 100px;
}



.col:hover {
	background-color: lightgray;
}

.col:active {
	background-color: lightgray;
}


.col.selected {
	background-color: lightgray;
}


/*
show & hide are generan show and hide selecters.
*/
.show {
	display: block;
}

.hide {
	display: none;
}



/* 
styling for the dissabled element
*/

.disabled {
    
    opacity: 0.5;
    background-color: lightgray;
    
    border: dashed 1px black;
}

.disabled > * {
    z-index: -1;
    
    background-color: lightgray;
    
}

