<body class="p-3 m-0 border-0 bd-example tableHome" >

  <table class="table table-striped table-bordered">
      <tr>
          <th>id</th>
          <th>first name</th>
          <th>last name</th>
          <th>email</th>
          <th>username</th>
          <th>accout type</th>
          <th>created</th>
          <th>last update</th>
          <th>removed date</th>
  
          <? if( items.hasOwnProperty("icon") ) { ?>
          <th>icon</th>
          <? } ?>
        </tr>
  
      <? for(let item of items){ ?>
      <tr>
          <th class="id"> <?= item.id ?> </th>
          <th class="fname"> <?= item.firstName ?> </th>
          <th class="lname"> <?= item.lastName ?> </th>
          <th class="email"> <?= item.email ?> </th>
          <th class="username"> <?= item.username ?> </th>
          <th class="type"> <?= item.type ?> </th>
          <th class="createdAt"> <?= item.createdAt ?> </th>
          <th class="updatedAt"> <?= item.updatedAt ?> </th>  
          <th class="deletedAt"> <?= item.deletedAt ?> </th>
  
          <? if( item.icon ) { ?>
          <th class="icon"> 
            <?- item.icon ?>
          </th>
          <? } ?>
      </tr>
      <? } ?>
  
  </table>
  
  </body>